<!DOCTYPE html>

<html ng-app="newpoll">

	<head>
		<title>Vote Apps</title>

		<link href="public/stylesheets/style.css" rel="stylesheet" type="text/css">
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	</head>

	<header>
		<ul class="nav nav-pills">
		  <li role="presentation" ><a href="/">Home</a></li>
		  <li role="presentation"><a href="/mypoll">My polls</a></li>
		  <li role="presentation"><a href="/newpoll">New poll</a></li>
			<li role="presentation" class="dropdown" >
				<a id="display-name" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		        <span class="caret"></span>
		     </a>
			    <ul class="dropdown-menu">
			      <li><a href="/homeWithoutlogin" role="button">Logout</a></li>
			    </ul>
			  </li>
			</ul>
	</header>

	<body>
    <div class="jumbotron" ng-controller="newpollcontroller">
      <div class="container">
        <h1>Make a new Poll</h1>
        <!-- <h5>Title:</h5>
        <div class="input-group">
          <input ng-model="title" type="text" class="form-control" placeholder="title" aria-describedby="basic-addon1">
        </div>
        <h5>Options (seperated by line):</h5>
        <div class="input-group">
          <textarea ng-model="options" name="name" rows="8" cols="80"></textarea>
        </div>

          <a class="btn btn-primary btn-lg" href="#" role="button">Make!</a> -->

          <form ng-submit="submit()">
            <span><strong>Enter text and hit enter:</strong></span><br>
            <input type="text" ng-model="title" name="title" /><br>
						<span><strong>Options (seperated by line):</strong></span><br>
            <textarea ng-model="options" name="name" rows="8" cols="80"></textarea><br>
            <input class="btn btn-primary btn-lg" type="submit" id="submit" value="Make!" />
          </form>
					<!-- <a ng-href="/{{index}}">Route to new poll!</a> -->
      </div>
    </div>


		<script type="text/javascript" src="angular/angular.min.js">
		</script>
		<script type="text/javascript" src="angular/angular-resource.min.js">
		</script>

		<script type="text/javascript" src="controllers/newpoll.js"></script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="angular/bootstrap.min.js"></script>

	</body>

</html>
