<!DOCTYPE html>

<html ng-app="polllist">

	<head>
		<title>My poll list</title>

		<link href="public/stylesheets/style.css" rel="stylesheet" type="text/css">
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	</head>

	<header>
		<ul class="nav nav-pills">
		  <li role="presentation" ><a href="/">Home</a></li>
		  <li role="presentation"><a href="/mypoll">My polls</a></li>
		  <li role="presentation"><a href="/newpoll">New poll</a></li>
			<li role="presentation" class="dropdown" >
				<a id="display-name" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		        <span class="caret"></span>
		     </a>
			    <ul class="dropdown-menu">
			      <li><a href="/logout" role="button">Logout</a></li>
			    </ul>
			  </li>
			</ul>
	</header>

	<body>
    <div class="jumbotron" ng-controller="polllistcontroller">
      <div class="container" >
        <h1>{{poll.title}}</h1>
          <h2>I'd like to vote for...:</h2>
            <form ng-submit="submit()">
            <select id="mySelect" value="Chosse an option" ng-model="electOne">
              <option name="default" disabled selected>Select your option...</option>
              <option ng-repeat="option in options" ng-value="{{$index}}">{{option.name}}</option>
              <option name="option1"  >I'd like a custom option.</option>
            </select>
						<div class="">
							<input type="text" ng-model="alternative" name="" value="">
						</div>
            <div class="">
            <input type="submit" value="Submit">
            </div>
            </form>
            <button type="button" name="button" ng-click="removePoll()">Remove this poll</button>

						<canvas id="doughnut" class="chart chart-doughnut"
						  chart-data="data" chart-labels="labels">
						</canvas> 

      </div>

	</div>


		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>

		<script type="text/javascript" src="controllers/poll-list.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="angular/bootstrap.min.js"></script>

	</body>

</html>
